@import url('https://fonts.googleapis.com/css2?family=Frijole&family=New+Rocker&family=Nosifer&display=swap');


body{
  display: flex;
  height: 99%;
  width: 100%;
  background-color: #E7E2DB;
  background-image: url(imagens/Suguro-geto2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  
}


header{
  height: 100px;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(83, 83, 83, 0.314);
  text-align: center;
  color: white;
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  
}

#pai{
  align-self: center;
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  width: 500px;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
  
}

.topo{
  color: white;
  background-color:#0c326372;
  height: 50px;
  padding: 15px 30px 5px 30px;
  text-align: center;
  font-size: 28px;
  border-radius: 2em 0px 2em 0px;
  
}

p{
 margin: 0px;
 font-family: "Frijole", system-ui;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}


.linha-baixo{
  display: flex;
  gap: 60px;
}
#Kael, #Vhans{
  background-color: #0c3163;
  max-width: 200px;
  min-width: 130px;
  text-align: center;
  color: white;
  border-radius: 2em;
  font-family: "Nosifer", sans-serif;
  font-weight: 200;
  font-style: normal;
}

a{
  color: white;
  text-decoration: none;
}